<div class="Demo">
  <input name="mode" value="users" type="hidden">
  <div class="Typeahead Typeahead--twitterUsers">
    <div class="u-posRelative">
      <input dir="ltr" class="Typeahead-hint" tabindex="-1" readonly="" type="text">
      <input dir="auto" spellcheck="false" autocomplete="off" class="Typeahead-input tt-input" id="demo-input" name="q" placeholder="Search" type="text"><pre style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Helvetica Neue&quot;,Roboto,&quot;Segoe UI&quot;,Calibri,sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: optimizelegibility; text-transform: none;" aria-hidden="true"></pre>
      <%= image_tag('spinner.gif', class: 'Typeahead-spinner') %>
    </div>

  	</div>
  </div>
</div>

<div class="row">
	<div class="Typeahead-menu">
		<div class="tt-dataset tt-dataset-0">
	</div>
</div>

<script id="result-template" type="text/x-handlebars-template">
	{{#compare _type "magic_card"}}
	  <div class="ProfileCard u-cf">
	    <img class="ProfileCard-avatar" src="https://image.deckbrew.com/mtg/multiverseid/{{multiverse_id}}.jpg">

	    <div class="ProfileCard-details">
	      <div class="ProfileCard-realName">{{name}} {{{toSymbols mana_cost}}}</div>
	      <div class="ProfileCard-screenName">({{type_of_card}})</div>
	      <div class="ProfileCard-description">{{{toSymbols text}}}</div>
	    </div>

      <i class="ProfileCard-set ss ss-{{set_code}} ss-2x ss-{{rarity}} %>"></i>
	  </div>
	{{/compare}}
</script>

<script id="empty-template" type="text/x-handlebars-template">
  <div class="EmptyMessage">Your search turned up 0 results.</div>
</script>
