<div class="Demo">
  <input name="mode" value="users" type="hidden">
  <div class="Typeahead Typeahead--twitterUsers">
    <div class="u-posRelative">
      <input dir="ltr" class="Typeahead-hint" tabindex="-1" readonly="" type="text">
      <input dir="auto" spellcheck="false" autocomplete="off" class="Typeahead-input tt-input" id="demo-input" name="q" placeholder="Search" type="text"><pre style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Helvetica Neue&quot;,Roboto,&quot;Segoe UI&quot;,Calibri,sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: optimizelegibility; text-transform: none;" aria-hidden="true"></pre>
      <%= image_tag('spinner.gif', class: 'Typeahead-spinner') %>
    </div>
    <div class="Typeahead-menu">
    	<div class="tt-dataset tt-dataset-0">
    </div>
  	</div>
  </div>
</div>

<script id="result-template" type="text/x-handlebars-template">

	{{#compare _type "magic_set"}}
	  <div class="ProfileCard u-cf">
	    <img class="ProfileCard-avatar" src="{{profile_image_url_https}}">

	    <div class="ProfileCard-details">
	      <div class="ProfileCard-realName">{{name}}</div>
	      <div class="ProfileCard-screenName">({{code}})</div>
	      <div class="ProfileCard-description"><i class="ss ss-{{toLowerCase code}} ss-3x ss-common"></i></div>

	    </div>

	    <div class="ProfileCard-stats">
	      <div class="ProfileCard-stat"><span class="ProfileCard-stat-label">Border:</span> {{border}}</div>
	      <div class="ProfileCard-stat"><span class="ProfileCard-stat-label">Type:</span> {{type_of_set}}</div>
	      <div class="ProfileCard-stat"><span class="ProfileCard-stat-label">Release date:</span> {{release_date}}</div>
	    </div>
	  </div>
	{{/compare}}

	{{#compare _type "magic_card"}}
	  <div class="ProfileCard u-cf">
	    <img class="ProfileCard-avatar" src="{{profile_image_url_https}}">

	    <div class="ProfileCard-details">
	      <div class="ProfileCard-realName">{{name}}</div>
	      <div class="ProfileCard-screenName">({{type_of_card}})</div>
	      <div class="ProfileCard-description">{{{toSymbols mana_cost}}}</div>
	    </div>

	    <div class="ProfileCard-stats">
	      <div class="ProfileCard-stat"><span class="ProfileCard-stat-label">Rarity:</span> {{rarity}}</div>
	      <div class="ProfileCard-stat"><span class="ProfileCard-stat-label">Power / Toughness:</span> {{power}} {{toughness}}</div>
	      <div class="ProfileCard-stat"><span class="ProfileCard-stat-label">No:</span> {{number}}</div>
	    </div>
	  </div>
	{{/compare}}
</script>

<script id="empty-template" type="text/x-handlebars-template">
  <div class="EmptyMessage">Your search turned up 0 results.</div>
</script>

<!-- <div class="container">
  <p>
    <i class="ss ss-leg ss-3x ss-common"></i>&nbsp;
    <i class="ss ss-leg ss-2x ss-common"></i>&nbsp;
    <i class="ss ss-leg ss-common"></i>&nbsp;
    Common (Legends)
	</p>
	<p>
    <i class="ss ss-ons ss-3x ss-uncommon ss-grad"></i>&nbsp;
    <i class="ss ss-ons ss-2x ss-uncommon"></i>&nbsp;
    <i class="ss ss-ons ss-uncommon"></i>&nbsp;
    Uncommon (Onslaught)
	</p>
	<p>
    <i class="ss ss-fut ss-3x ss-rare ss-grad"></i>&nbsp;
    <i class="ss ss-fut ss-2x ss-rare"></i>&nbsp;
    <i class="ss ss-fut ss-rare"></i>&nbsp;
    Rare (Future Sight)
	</p>
	<p>
    <i class="ss ss-zen ss-3x ss-mythic ss-grad"></i>&nbsp;
    <i class="ss ss-zen ss-2x ss-mythic"></i>&nbsp;
    <i class="ss ss-zen ss-mythic"></i>&nbsp;
    Mythic Rare (Worldwake)
	</p>

	<h1>Symbols</h1>
	<div>
		<i class="mi mi-w"></i>
		<i class="mi mi-u"></i>
		<i class="mi mi-b"></i>
		<i class="mi mi-r"></i>
		<i class="mi mi-g"></i>
		<i class="mi mi-c"></i>
		<i class="mi mi-p"></i>
		<i class="mi mi-s"></i>
		<i class="mi mi-chaos"></i>
		<i class="mi mi-tap"></i>
	</div>
	<div>
		<i class="mi mi-creature"></i>
		<i class="mi mi-planeswalker"></i>
		<i class="mi mi-enchantment"></i>
		<i class="mi mi-instant"></i>
		<i class="mi mi-sorcery"></i>
		<i class="mi mi-land"></i>
		<i class="mi mi-artifact"></i>
		<i class="mi mi-multiple"></i>
		<i class="mi mi-planeswalk"></i>
		<i class="mi mi-untap"></i>	
	</div>
	
	
	<h1>Mana (with shadow options)</h1>
	<div>
		<i class="mi mi-mana mi-w"></i>
		<i class="mi mi-mana mi-u"></i>
		<i class="mi mi-mana mi-b"></i>
		<i class="mi mi-mana mi-r"></i>
		<i class="mi mi-mana mi-g"></i>
		<i class="mi mi-mana mi-c"></i>
		<i class="mi mi-mana mi-s"></i>
	</div>
	<div>
		<i class="mi mi-w mi-mana mi-shadow"></i>
		<i class="mi mi-u mi-mana mi-shadow"></i>
		<i class="mi mi-b mi-mana mi-shadow"></i>
		<i class="mi mi-r mi-mana mi-shadow"></i>
		<i class="mi mi-g mi-mana mi-shadow"></i>
		<i class="mi mi-c mi-mana mi-shadow"></i>
		<i class="mi mi-s mi-mana mi-shadow"></i>
	</div>
	
	<div>
		<i class="mi mi-p mi-mana-w"></i>
		<i class="mi mi-p mi-mana-u"></i>
		<i class="mi mi-p mi-mana-b"></i>
		<i class="mi mi-p mi-mana-r"></i>
		<i class="mi mi-p mi-mana-g"></i>
	</div>
	
	<div>
		<i class="mi mi-p mi-mana-w mi-shadow"></i>
		<i class="mi mi-p mi-mana-u mi-shadow"></i>
		<i class="mi mi-p mi-mana-b mi-shadow"></i>
		<i class="mi mi-p mi-mana-r mi-shadow"></i>
		<i class="mi mi-p mi-mana-g mi-shadow"></i>
	</div>
	
	<div>
		<i class="mi mi-mana mi-1"></i>
		<i class="mi mi-mana mi-2"></i>
		<i class="mi mi-mana mi-x"></i>
		<i class="mi mi-mana mi-y"></i>
		<i class="mi mi-mana mi-z"></i>
	</div>
	
	<div>
		<i class="mi mi-mana mi-shadow mi-1"></i>
		<i class="mi mi-mana mi-shadow mi-2"></i>
		<i class="mi mi-mana mi-shadow mi-x"></i>
		<i class="mi mi-mana mi-shadow mi-y"></i>
		<i class="mi mi-mana mi-shadow mi-z"></i>
	</div>
	
	<h1>Split Mana (with shadow options)</h1>
	<div>
		<div class="mi-split"><i class="mi mi-w"></i><i class="mi mi-r"></i></div>
		<div class="mi-split"><i class="mi mi-b"></i><i class="mi mi-u"></i></div>
		<div class="mi-split"><i class="mi mi-g"></i><i class="mi mi-w"></i></div>
		<div class="mi-split"><i class="mi mi-u"></i><i class="mi mi-b"></i></div>
		<div class="mi-split"><i class="mi mi-r"></i><i class="mi mi-g"></i></div>
	</div>
	
	<div>
		<div class="mi-split mi-shadow"><i class="mi mi-w"></i><i class="mi mi-r"></i></div>
		<div class="mi-split mi-shadow"><i class="mi mi-b"></i><i class="mi mi-u"></i></div>
		<div class="mi-split mi-shadow"><i class="mi mi-g"></i><i class="mi mi-w"></i></div>
		<div class="mi-split mi-shadow"><i class="mi mi-u"></i><i class="mi mi-b"></i></div>
		<div class="mi-split mi-shadow"><i class="mi mi-r"></i><i class="mi mi-g"></i></div>
	</div>
	
	<div>
		<div class="mi-split"><i class="mi mi-1"></i><i class="mi mi-r"></i></div>
		<div class="mi-split"><i class="mi mi-2"></i><i class="mi mi-u"></i></div>
		<div class="mi-split"><i class="mi mi-3"></i><i class="mi mi-w"></i></div>
		<div class="mi-split"><i class="mi mi-4"></i><i class="mi mi-b"></i></div>
		<div class="mi-split"><i class="mi mi-5"></i><i class="mi mi-g"></i></div>
	</div>
	
	
	<h1>Tap/Untap</h1>
	<div>
		<i class="mi mi-tap mi-mana"></i>
		<i class="mi mi-untap mi-mana"></i>
	</div>
</div> -->
