<div id="header">
  <div id="vendor"><a href="/">MTGDB</a></div>
  <ul>
    <li>
    	<%= link_to 'Sets', sets_path %> <b>|</b>
    	<%= link_to 'Filter search', search_path %>
    </li>
  </ul>
</div>